.logo{
  height:50px;
  width:50px;
  border-radius: 50%;
}

.navbar-inner{
    background-image: url("https://media.istockphoto.com/id/1287065554/photo/sound-wave.jpg?b=1&s=612x612&w=0&k=20&c=Qbk-qBg1-MueQrxyI1QlNM8SaXsYTv5wS5o46dSqAZU=");
    height:auto;
    width:100%;
    background-position: cover;
    background-repeat: repeat;
}
.Music-image{
    background-image: url("https://cdn.pixabay.com/photo/2018/06/30/09/29/monkey-3507317_1280.jpg");
    background-size:cover;
    height:120vh;
}
.info{
    color: azure;
    text-align: center;
}
.container{
    margin-left:auto;
    padding-top: 30px;
    
}
.carousel-item img {
    object-fit: cover;
    width: 50vh;
    height:100vh;
    overflow: hidden;
    margin-left: 15px;
    object-position: center;
    
  }
  .image{
    height:30px;
    width:30px;
  }
  

.carousel{
    padding-top: 30px;
    margin: auto;
}
.carousel-caption h5 {
    color: red;
    font-size: 36px;
    font-weight: bold;
  }
  .footer {
    background-image: url("https://images.unsplash.com/photo-1525018923-1ebe8261a6a6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fG11c2ljJTIwd2FsbHBhcGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    position:relative;
    bottom:100;
    left:100;
    background-size: cover;
    
  }
  .col-md-4{
    color: aliceblue;
    font-weight:bold;
  }
  .description{
    color:#d5ebd9;
    font-weight:700;
  }
  .form-group{
    color:aqua;
    margin-top: 8px;
  }
  /* form-control{
    background-color:#03fc5e;
  } */
  .left{
    margin-left: 6%;
}
.left h1{
  font-size: 90px;
  color: #fff;
  line-height: 110px;
  float: left;
}
right{
  float: right;
  margin-right: 6%;
  margin-top: 120px;
  display: flex;
  align-items: center;
}
.right p{
  font-size: 18px;
  color: #060404ed;
  font-weight: 500;
  font-family: sans-serif;
  margin-right: 15px;
}
icon{
  width:80px;
  cursor: pointer;
}