*{
    box-sizing:border-box;
}
body{
    font-family:poppins;
    font-size:16px;
    color:#fff;
}
.wrapper{
    background-color: rgba(0, 1, 0, 0.153);
    margin:auto;
    padding:40px;
    border-radius:5px;
    box-shadow:0 0 10px #000;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:500px;
    height:430px;
}
.wrapper:before{
    background-image: url("https://images.unsplash.com/photo-1508700115892-45ecd05ae2ad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fG11c2ljJTIwd2FsbHBhcGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60");
    width:100%;
    height:100%;
    -webkit-background-size:cover;
    background-size:cover;
    content: '';
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:-1;
    display:block;
    filter:blur(3px);

}
.wrapper .header-text{
    font-size:32px;
    font-weight:600;
    padding-bottom:30px;
    text-align:center;
}
.wrapper input{
    margin:10px 0;
    border:none;
    padding:10px;
    border-radius:5px;
    width:100%;
    font-size:16px;
    font-family: poppins;
}
.wrapper input[type=checkbox]:checked + label:before{
    /*content:"\2713";*/
    font-size:20px;
    color:#262626;
    text-align:center;
    line-height:20px;
}
.wrapper span{
    font-size:14px;

}
.wrapper button{
    background-color:#fb5a2f;
    color:#fff;
    border:none;
    border-radius:5px;
    cursor:pointer;
    width:100%;
    font-size:18px;
    padding:10px;
    margin:20px o;

}
span a{
    color:#ddd;
}